version: "3.8"
services:
  mail:
    image: bytemark/smtp
    env_file:
      - plausible-smtp.env
    networks:
      - plausible
    deploy:
      placement:
        constraints:
           - node.role==manager
      restart_policy:
        condition: on-failure 

  plausible_db:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=plausible_db
    networks:
      - plausible
    ports:
      - 5432
    deploy:
      placement:
        constraints:
           - node.role==manager
      restart_policy:
        condition: on-failure 

  plausible_events_db:
    image: clickhouse/clickhouse-server:22.6-alpine
    volumes:
      - event-data:/var/lib/clickhouse
      - ./clickhouse/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
      - ./clickhouse/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - 8123
    networks:
      - plausible
    deploy:
      placement:
        constraints:
           - node.role==manager
      restart_policy:
        condition: on-failure 

  plausible:
    image: plausible/analytics:latest
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
    networks:
      - proxy
      - plausible
    ports:
      - 8000
    env_file:
      - plausible-conf.env
    deploy:
      labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plausible.entrypoints=http"
      - "traefik.http.routers.plausible.rule=Host(`{{  PLAUSIBLE_URL  }}`)"
      - "traefik.http.middlewares.plausible-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.plausible.middlewares=plausible-https-redirect"
      - "traefik.http.routers.plausible-secure.entrypoints=https"
      - "traefik.http.routers.plausible-secure.rule=Host(`{{  PLAUSIBLE_URL  }}`)"
      - "traefik.http.routers.plausible-secure.tls=true"
      - "traefik.http.routers.plausible-secure.tls.certresolver=http"
      - "traefik.http.routers.plausible-secure.service=plausible"
      - "traefik.http.services.plausible.loadbalancer.server.port=8000"
      - "traefik.docker.network=proxy"
      placement:
        constraints:
           - node.role==manager
      restart_policy:
        condition: on-failure 


volumes:
  db-data:
    driver: local
  event-data:
    driver: local
  geoip:
    driver: local

networks:
  proxy:
    external: true
  plausible:
    name: plausible
    driver: overlay
