ADMIN_USER_EMAIL={{  PLAUSIBLE_ADMIN_EMAIL  }}
ADMIN_USER_NAME={{  PLAUSIBLE_ADMIN  }}
ADMIN_USER_PWD={{  PLAUSIBLE_ADMIN_PW }}
BASE_URL=https://{{  PLAUSIBLE_URL  }}
SECRET_KEY_BASE={{ PLAUSIBLE_KEY }}
DATABASE_URL=postgres://postgres:postgres@plausible_plausible_db:5432/plausible_db
POSTGRES_DB=plausible_db
CLICKHOUSE_DATABASE_URL=http://plausible_plausible_events_db:8123/plausible_events_db