ADMIN_USER_EMAIL={{  PLAUSIBLE_ADMIN_EMAIL  }}
ADMIN_USER_NAME={{  PLAUSIBLE_ADMIN  }}
ADMIN_USER_PWD={{  PLAUSIBLE_ADMIN_PW }}
BASE_URL=https://{{  PLAUSIBLE_URL  }}
SECRET_KEY_BASE={{ PLAUSIBLE_KEY }}